<div class="ui segments">
    <div class="ui inverted segment">
        <h1>Gamecube Information</h1>
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text">DNS List</span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <b>Schthack:</b>
                        <span class="ui inverted red text">144.217.87.48</span>
                        <span class="ui inverted gray small text">Offline</span>
                        | <span class="ui inverted red text">149.56.167.128</span>
                    </li>
                    <li>
                        <b>Sylverant:</b>
                        <span class="ui inverted red text">138.197.20.130</span>
                    </li>
                    <li>
                        <b>Kazuha:</b>
                        <span class="ui inverted red text">27.134.247.108</span>
                    </li>
                    <li>
                        <b>Haven:</b>
                        <span class="ui inverted red text">154.8.152.87</span>
                    </li>
                    <li>
                        <b>Unseen:</b>
                        <span class="ui inverted red text">172.245.5.200</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
</div>
