/* muicss override */
a {
    color: #5d8aa8;
}
abbr[title] {
    -webkit-text-decoration-color: #5d8aa8;
    text-decoration-color: #5d8aa8;
}
.mui-appbar {
    background-color: #5d8aa8;
}
.mui-btn--primary {
    background-color: #5d8aa8;
}
.mui-btn--primary:hover, .mui-btn--primary:focus, .mui-btn--primary:active {
    background-color: #8faec3;
}
.mui-btn--primary[disabled]:hover, .mui-btn--primary[disabled]:focus, .mui-btn--primary[disabled]:active {
    background-color: #5d8aa8;
}
.mui-btn--primary.mui-btn--flat {
    color: #5d8aa8;
}
.mui-btn--primary.mui-btn--flat:hover, .mui-btn--primary.mui-btn--flat:focus, .mui-btn--primary.mui-btn--flat:active {
    color: #5d8aa8;
}
.mui-btn--primary.mui-btn--flat[disabled]:hover, .mui-btn--primary.mui-btn--flat[disabled]:focus, .mui-btn--primary.mui-btn--flat[disabled]:active {
    color: #5d8aa8;
}
.mui-select:focus > select {
    border-color: #5d8aa8;
}
.mui-select > select:focus {
    border-color: #5d8aa8;
}
.mui-select:focus > label,
.mui-select > select:focus ~ label {
    color: #5d8aa8;
}
.mui-tabs__bar > li.mui--is-active {
    border-bottom: 2px solid #5d8aa8;
}
.mui-tabs__bar > li.mui--is-active > a {
    color: #5d8aa8;
}
.mui-textfield > input:focus ~ label,
.mui-textfield > textarea:focus ~ label {
    color: #5d8aa8;
}
.mui-textfield > input:focus,
.mui-textfield > textarea:focus {
    border-color: #5d8aa8;
}
.mui--bg-primary {
    background-color: #5d8aa8;
}

.center {
    text-align: center;
}

/**
 * Body CSS
 */
html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
 * Header CSS
 */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

header ul.mui-list--inline {
    margin-bottom: 0;
}

header a {
    color: white;
}

header table {
    width: 100%;
}


/**
 * Content CSS
 */
#content-wrapper {
    min-height: 100%;

    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -100px;
    padding-bottom: 100px;
}


/**
 * Footer CSS
 */
footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
}
