/**
 * Body CSS
 */
html,
body {
    display: flex;
    flex-direction: column;
    background: #222222;
}

.center {
    text-align: center;
}

.pusher {
    background: inherit !important;
}

body > header,
body > main,
body > footer {
    flex: 0 0 auto;
}

body > main {
    flex: 1 0 auto;
    margin-top: 7em;
    margin-bottom: 7em;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.character-breakdown-tabs .item .fas {
    margin-right: 0.5em;
}

#quest_list .sizer,
#player_list .sizer {
    display: none;
}

/* Remove */
html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
 * Content CSS
 */
#content-wrapper {
    min-height: 100%;

    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.welcome_div img {
    max-width: 100%;
    width: 800px;
}


/**
 * Footer CSS
 */
footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
}

.character-breakdown__content {
    height: 0px;
    overflow: hidden;
}
.character-breakdown__header__toggle {
    font-size: 30px;
}
.character-breakdown__header__toggle i {
    transition: all 0.5s;
    transform: rotate(90deg);
}
.character-breakdown.collapsed .character-breakdown__header__toggle i {
    transform: rotate(0deg);
}
.links-container {
    display: flex;
    max-width: 600px;
    text-align: left;
    margin: auto;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .computer {
        display: none !important;
    }
}
@media (min-width: 1025px) {
    .mobile {
        display: none !important;
    }
}
