<div class="ui segments">
    <div class="ui inverted segment">
        <h3>How the Table Works</h3>
        <p>

        </p>
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text"><b>Relevant Warp Values</b></span>
            </div>
            <div class="content">
                <p class="transition hidden">
                    <div class="ui accordion">
                        <div class="title">
                            <i class="inverted dropdown icon"></i>
                            <span class="ui inverted grey text"><b>Episode 1</b></span>
                        </div>
                        <div class="content">
                            <p class="transition hidden">
                                <li>
                                    0 = Pioneer 2
                                </li>
                                <li>
                                    1 = Forest 1
                                </li>
                                <li>
                                    2 = Forest 2
                                </li>
                                <li>
                                    3 = Caves 1
                                </li>
                                <li>
                                    4 = Caves 2
                                </li>
                                <li>
                                    5 = Caves 3
                                </li>
                                <li>
                                    6 = Mines 1
                                </li>
                                <li>
                                    7 = Mines 2
                                </li>
                                <li>
                                    8 = Ruins 1
                                </li>
                                <li>
                                    9 = Ruins 2
                                </li>
                                <li>
                                    10 = Ruins 3
                                </li>
                                <li>
                                    11 = Dragon
                                </li>
                                <li>
                                    12 = De Rol Le
                                </li>
                                <li>
                                    13 = Vol Opt
                                </li>
                                <li>
                                    14 = Dark Falz Memorial
                                </li>
                                <li>
                                    15 = ID Lobby
                                </li>
                                <li>
                                    16 = Battle Spaceship
                                </li>
                                <li>
                                    17 = Battle Palace 
                                </li>
                            </p>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ui segments">
    <div>
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>E1 Quest</th>
                    <th>Warp Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="quest">MA2A</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">MA2B</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">MA2C</td>
                    <td data-label="warp-value">4, 7, 10, 14</td>
                </tr>
                <tr>
                    <td data-label="quest">MA2V2</td>
                    <td data-label="warp-value">2, 5, 6, 7</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: VR</td>
                    <td data-label="warp-value">2, 4, 6, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: GDV</td>
                    <td data-label="warp-value">2, 4, 6, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Temple</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Spaceship</td>
                    <td data-label="warp-value">4</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: CCA</td>
                    <td data-label="warp-value">6</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Seabed</td>
                    <td data-label="warp-value">10</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Tower</td>
                    <td data-label="warp-value">10</td>
                </tr>
                <tr>
                    <td data-label="quest">SU5</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">SU6</td>
                    <td data-label="warp-value">5</td>
                </tr>
                <tr>
                    <td data-label="quest">SU7</td>
                    <td data-label="warp-value">7</td>
                </tr>
                <tr>
                    <td data-label="quest">SU8</td>
                    <td data-label="warp-value">9</td>
                </tr>
                <tr>
                    <td data-label="quest">SU9</td>
                    <td data-label="warp-value">9</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU1</td>
                    <td data-label="warp-value">1</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU2</td>
                    <td data-label="warp-value">3</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU3</td>
                    <td data-label="warp-value">6</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU4</td>
                    <td data-label="warp-value">8</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU5</td>
                    <td data-label="warp-value">8</td>
                </tr>
                <tr>
                    <td data-label="quest">RT</td>
                    <td data-label="warp-value">2, 11, 5, 12, 7, 13, 10, 14</td>
                </tr>
                <tr>
                    <td data-label="quest">CCC</td>
                    <td data-label="warp-value">2, 11, 5, 12, 7, 13, 10, 14</td>
                </tr>
                <tr>
                    <td data-label="quest">CF2</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">RoCT</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">PPP</td>
                    <td data-label="warp-value">2, 11, 5, 12, 7, 13, 10, 14</td>
                </tr>
             </tbody>
        </table>
    </div>
    <br>
</div>

<div class="ui segments">
    <div>
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>E2 Quests</th>
                    <th>Warp Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="quest">MA1A</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">MA1B</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">MA1C</td>
                    <td data-label="warp-value">4, 7, 10, 14</td>
                </tr>
                <tr>
                    <td data-label="quest">MA1V2</td>
                    <td data-label="warp-value">2, 5, 6, 7</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: E1</td>
                    <td data-label="warp-value">2, 4, 6, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Forest</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Caves</td>
                    <td data-label="warp-value">4</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Mines</td>
                    <td data-label="warp-value">6</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Ruins</td>
                    <td data-label="warp-value">10</td>
                </tr>
                <tr>
                    <td data-label="quest">MU1</td>
                    <td data-label="warp-value">1</td>
                </tr>
                <tr>
                    <td data-label="quest">MU2</td>
                    <td data-label="warp-value">3</td>
                </tr>
                <tr>
                    <td data-label="quest">MU3</td>
                    <td data-label="warp-value">6</td>
                </tr>
                <tr>
                    <td data-label="quest">MU4</td>
                    <td data-label="warp-value">8</td>
                </tr>
                <tr>
                    <td data-label="quest">SU1</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">SU2</td>
                    <td data-label="warp-value">5</td>
                </tr>
                <tr>
                    <td data-label="quest">SU3</td>
                    <td data-label="warp-value">7</td>
                </tr>
                <tr>
                    <td data-label="quest">SU4</td>
                    <td data-label="warp-value">9</td>
                </tr>
                <tr>
                    <td data-label="quest">TTF</td>
                    <td data-label="warp-value">2, 11, 5, 12, 7, 13, 10, 14</td>
                </tr>
                <tr>
                    <td data-label="quest">CF1</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
             </tbody>
        </table>
    </div>
    <br>
</div>