<div class="ui segments">
    <div class="ui inverted segment">
        <h2>HUcast</h2>
        <p>
            <style>
                p {
                    font-family: 'Times New Roman', Times, serif;  
                    font-size: 18px;
                  }
            </style>
            HUcast is the highest ATP class in PSOBB by a considerable margin: 242 more ATP than the next highest class HUmar (not commonly played), 289 more than RAcast one of it's main 
            competitors in TA class compositions, and 637 more than FOmar the highest ATP FO (HUct has more ATP than FOmar with level 30 Shifta). Naturally this makes HUct the best class for
            dealing pure damage. For example with a simple pair of Charge Vulcans HUct with level 30 Shifta can deal a minimum of 4860 damage to an unfrozen Del-D with NNS for a 100% accurate
            attack guaranteeing a kill while RAcast under the same conditions can only do 3599 damage with NNS for a 100% accurate attack that does not kill (discounting critical hits). 
            Obviously in this case RAct can swap to NHS to achieve the kill, but it's a loss of frames. HUct can keep this same NNS combo all the way down to level 15 Shifta. The ability for
            RAct to easily swap their combo to relatively keep up with HUct is not always there. HUct can NHS a Dark Bringer with level 30 Shifta for a guaranteed combo kill while RAct simply does
            not have a combo with the same weapon under the same conditions to CK 100%. These are only some of the examples of the advantages HUct raw ATP can give. 
        </p>
        <h3>Weapons / Inventory</h3>
        <p>
            HUct has a large variety of weapons in its arsenal; despite being a hunter it's ranged options nearly match that of rangers.
            <ul>
                <li>
                    Raw Melee Damage
                    <ul>
                        <li>Vjaya</li>
                        <br>
                        <dd>In the most recent years Vjaya has become the main melee item in the HUct inventory. It's very often the quickest frame kill for groups of most grunt type 
                            mobs. You can expect SS to reliably kill in most situations for the grunt type mob and many others as well. Vjaya also has "safe" combos involving delayed attacks 
                            that prevent enemies from hitting you should they not die as expected.</dd>
                        <br>
                        <li>Dark Flow</li>
                        <br>
                        <dd>Dark Flow has always been a staple of hunter game play, it's typically going to be the highest damage per single target you
                            can get. It's best when abusing single target type spawns; one shotting nearly every enemy under the proper conditions. Some enemies like Dorphons / Girtablulus /
                            Epsilons and a  couple others will require multiple swings no matter the conditions nearly. That is okay as it's likely still going to be your fastest option.</dd>
                        <br>
                        <li>Diska of Bravemen</li>
                        <br>
                        <dd>Diska of Bravemen is the "ranged" option from this list and excels on groups where Vjaya simply can't reach. It's the slowest animation of the listed items by a 
                            considerable amount so it's to be avoided when Vjaya / Excalibur can take it's place. Diska of Bravemen also serves a dual purpose of lowering a players HP so that 
                            they may use Dark Flow.</dd>
                        <br>
                        <li>Excalibur</li>
                        <dd>Excalibur is the fastest animation in pure frames on this list while also moving ones character forward. It is one of the best options in EP4 for lizards and in 
                            general extremely good for melee clean-up, it is however restricted to just one attribute besides hit so they're quite precise in their usage.</dd>
                        </ul>
                </li>
            </ul>
        </p>
        <h3>Placeholder</h3>
        <p>
            Placeholder.
        </p>
    </div>
</div>
